body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.nav {
    background-color: purple;
    height: 50px;
}

.nav ul li {
    list-style-type: none;

}

.nav ul li a {
    color: turquoise;
    text-decoration: none;

}

.nav-list {
    display: flex;
    gap: 20px;
}